<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.bootstrap_notifier">



<!--    <application-->

<!--        android:name="com.example.MyApplicationName"-->
<!--        android:allowBackup="true"-->

<!--        android:label="bootstrap_notifier" >-->
<!--        &lt;!&ndash; Note:  the singleInstance below is important to keep two copies of your activity from getting launched on automatic startup &ndash;&gt;-->
<!--        <activity-->
<!--            android:launchMode="singleInstance"-->
<!--            android:name="com.example.MyApplicationName"-->
<!--            android:label="bootstrap_notifier" >-->

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--    </application>-->


</manifest>
